.neobradjeni-zahtevi-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.neobradjeni-zahtevi-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.filter-container label {
  font-weight: bold;
}

.filter-container select {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.zahtevi-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.zahtev-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.zahtev-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.zahtev-card h3 {
  margin: 0 0 10px;
}

.zahtev-card p {
  margin: 5px 0;
}